<!doctype html>
<html>
    <head>
        <title><%=appData.appName%></title>
        <link rel="stylesheet" type="text/css" href="/main.css"/>
        <script src="script.js"></script> 
    </head>
    <body>
        <h1><a href="/"><%=appData.appName%></a></h1>
        <!-- Search box -->
        <form method="GET" action="/search">
            <input id="searchBox" type="text" name="searchtext" placeholder="Search for something...">
            <input type="submit" value="Search">
        </form>
        <h2>Tell us your thoughts or share an achievement!</h2>
        <form method="POST" action="/posted">
            <textarea id="postTextBox" type="text" name="content" onkeyup="displayPostCharCount()" placeholder="Type something..." maxlength="255" rows="8" cols="60"></textarea>
            <p id="postCharCount"></p>
            <input type="hidden" name="userid" value=<%=user.id%>>
            <input type="submit" value="Post"/>
        </form>
        <br>
        <p><a href="/profile/<%=user.username%>">Your Profile</a></p>
        <p><a href="/activities">Your Activities</a></p>
        <p><a href="/likedposts">Your Liked Posts</a></p>
        <p><a href="/about">About Us</a></p>
        <ul>
            <!-- For loop iterates through posts array -->
            <% for (let i = 0; i < posts.length; i++) { %>
            <!-- Display post info on page -->
            <% p = posts[i]; %>
            <li>
                <h2><a href=/profile/<%=p.username%>><%=p.username%></a></h2>
                <p><%=p.body%></p>
                <p>Likes: <%=p.like_count%></p>
                <p><%=p.date_posted.toLocaleString()%></p>
                <% if (likedposts[p.post_id]) { %>
                    <form method="POST" action="postunliked">
                        <input type="hidden" name="postID" value="<%=p.post_id%>"/>
                        <input type="submit" value="Unlike"/>
                    </form>
                <% } else { %>
                    <form method="POST" action="postliked">
                        <input type="hidden" name="postID" value="<%=p.post_id%>"/>
                        <input type="submit" value="Like"/>
                    </form>
                <% } %>
            </li>
            <% } %>
        </ul>
    </body>
</html>