<!doctype html>
<html>
    <head>
        <title><%=appData.appName%></title>
        <link rel="stylesheet" type="text/css" href="/main.css"/>
        <script src="/script.js"></script> 
    </head>
    <body>
        <!-- Header w/ search bar -->
        <div class="headerContainer">
            <div class="header">
                <a href="/"><h1><%=appData.appName%></h1></a>
                <form class="searchbar" method="GET" action="/search">
                    <input id="searchBox" type="text" name="searchtext" placeholder="Search for posts, users, or activities...">
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
        <div class="postFormDiv">
            <h2>Tell us your thoughts or share an achievement!</h2>
            <form method="POST" action="/posted">
                <textarea class="postTextBox" type="text" name="content" onkeyup="displayTypingCharCount()" placeholder="What do you want to say?" maxlength="255"></textarea>
                <p class="postCharCount"></p>
                <input type="hidden" name="userid" value=<%=user.id%>>
                <input type="submit" value="Post"/>
            </form>
        </div>
        <br>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/profile/<%=user.username%>">Your Profile</a>
            <a href="/activities">Activities</a>
            <a href="/likedposts">Liked Posts</a>
            <a href="/help">Help</a>
        </div>
        <% if (posts) { %>
            <!-- For loop iterates through posts array -->
            <% for (p of posts) { %>
                <div class="postContainer">
                    <a href="/post/<%=p.post_id%>">
                        <div class="postDiv">
                            <h2><%=p.username%></h2>
                            <div class="postBodyDiv"><%=p.body%></div>
                            <% let postAction; %>
                            <% let postValue; %>
                            <% let postSubmitImageSrc; %>
                            <!-- Conditional for whether to show like or unlike button -->
                            <% if (p.is_liked) { %>
                                <% postAction = "/postunliked"; %>
                                <% postValue = "Unlike"; %>
                                <% postSubmitImageSrc = "/assets/heart-full.png"; %>
                            <% } else { %>
                                <% postAction = "/postliked"; %>
                                <% postValue = "Like"; %>
                                <% postSubmitImageSrc = "/assets/heart.png"; %>
                            <% } %>
                            <form method="POST" class="postLikeButton" action=<%=postAction%>>
                                <input type="hidden" name="postID" value="<%=p.post_id%>"/>
                                <input class="postLikeImg" type="image" src="<%=postSubmitImageSrc%>" alt="<%=postValue%>"/>
                            </form>
                            <div class="postLikesDiv"><%=p.like_count%></div>
                            <div class="postDateDiv"><%=p.date_posted.toLocaleString()%></div>
                        </div>
                    </a>
                </div>
            <% } %>
        <% } %>
    <footer>
        <p>Uicons by <a href="https://www.flaticon.com/uicons">Flaticon</a></p>
    </footer>
    </body>
</html>