<!doctype html>
<html>
    <head>
        <title><%=appData.appName%></title>
        <link rel="icon" type="image/x-icon" href="/assets/fitterlogo.png">
        <link rel="stylesheet" type="text/css" href="/main.css"/>
        <script src="/script.js"></script> 
    </head>
    <body>
        <div class="contentBackground"></div>
        <!-- Header w/ search bar -->
        <div class="headerContainer">
            <div class="header">
                <a href="<%=rootPath%>"><h1><%=appData.appName%></h1></a>
                <form class="searchbar" method="GET" action="<%=rootPath%>/search/posts">
                    <input id="searchBox" type="text" name="searchtext" placeholder="Search for posts...">
                    <input type="submit" value="Search">
                </form>
            </div>
            <div class="headerDropdown">
                <button class="headerDropdownButton"><%=user.username%></button>
                <div class="headerDropdownMenu">
                    <a href="<%=rootPath%>/profile/<%=user.username%>">Your Profile</a>
                    <% let url = `https://www.strava.com/oauth/authorize?client_id=${clientId}&response_type=code&redirect_uri=${rootPath}/strava_authorisation&approval_prompt=force&scope=read_all,activity:read_all`%>
                    <a href=<%=url%>>Connect to Strava</a>
                    <a href="<%=rootPath%>/logout">Log Out</a>
                </div>
            </div>
        </div>
        <div class="postFormDiv">
            <form method="POST" action="<%=rootPath%>/posted">
                <textarea class="postTextBox" type="text" name="content" onkeyup="displayTypingCharCount()" placeholder="Tell us your thoughts or share an achievement!" maxlength="255"></textarea>
                <input type="hidden" name="userid" value=<%=user.id%>>
                <input type="submit" value="Post">
                <!-- Show user's activities dropdown menu if Strava account connected -->
                <% if (activities) { %>
                <div class="activitiesDropdown">
                    <select name="activity">
                        <option value="none">Link an Activity</option>
                        <!-- Group labels by date -->
                        <% let dateLabel; %>
                        <% for (a of activities) { %>
                            <!-- Only show activity if not linked to a post -->
                            <% if (!a.post_id) { %>
                                <% let activity_date = a.start_date.toLocaleString().slice(0,10); %>
                                <% if (activity_date != dateLabel) { %>
                                    <% dateLabel = activity_date %>
                                    <optgroup label="<%=dateLabel%>"></optgroup>
                                <% } %>
                                <option value="<%=a.activity_id%>"><%=a.start_date.toLocaleString().slice(11)%> - <%=a.name%></option>
                            <% } %>
                        <% } %>
                    </select> 
                    <% } %>
                    <p class="postCharCount"></p>
                </div>
            </form>
        </div>
        <div class="pageDivider"></div>
        <div class="navbar">
            <a href="<%=rootPath%>">Home</a>
            <a href="<%=rootPath%>/profile/<%=user.username%>">Profile</a>
            <a href="<%=rootPath%>/profile/<%=user.username%>/likedposts">Likes</a>
            <a href="<%=rootPath%>/activities">Activities</a>
            <a href="<%=url%>">Connect</a>
        </div>
        <% if (posts) { %>
            <!-- For loop iterates through posts array -->
            <% for (p of posts) { %>
                <div class="postContainer">
                    <a href="<%=rootPath%>/post/<%=p.post_id%>">
                        <div class="postDiv">
                            <h2><%=p.username%></h2>
                            <div class="postBodyDiv"><%=p.body%></div>

                            <!-- Embedded activity data if post has linked activity -->
                            <% if (p.activity_id) { %>
                                <div class="postActivityDiv">
                                    <h3><%=p.name%> - <%=p.start_date.toLocaleString()%></h3>
                                    <p>Total Time: <%=p.elapsed_time%></p>
                                    <% if (p.distance)  { %>
                                        <p>Distance: <%=(p.distance/1000).toPrecision(3)%> km</p>
                                    <% } %> 
                                    <% if (p.calories)  { %> 
                                        <p>Calories: <%=p.calories%> kJ</p>
                                    <% } %> 
                                    <% if (p.average_speed)  { %> 
                                        <p>Avg Speed: <%=p.average_speed.toPrecision(3)%> m/s</p>
                                        
                                    <% } %> 
                                    <% if (p.max_speed) { %> 
                                        <p>Max Speed: <%=p.max_speed.toPrecision(3)%> m/s</p>
                                        <p>Avg Pace: <%=p.average_pace%></p>
                                        <p>Max Pace: <%=p.max_pace%></p>
                                    <% } %> 
                                    <% if (p.average_watts) { %> 
                                        <p>Avg Watts: <%=p.average_watts.toPrecision(3)%> W</p> 
                                    <% } %> 
                                    <% if (p.max_watts) { %> 
                                        <p>Max Watts: <%=p.max_watts.toPrecision(3)%> W</p>
                                    <% } %> 
                                </div>
                            <% } %>

                            <% let postAction; %>
                            <% let postValue; %>
                            <% let postSubmitImageSrc; %>
                            <!-- Conditional for whether to show like or unlike button -->
                            <% if (p.is_liked) { %>
                                <% postAction = "/postunliked"; %>
                                <% postValue = "Unlike"; %>
                                <% postSubmitImageSrc = "/assets/heart-full.png"; %>
                            <% } else { %>
                                <% postAction = "/postliked"; %>
                                <% postValue = "Like"; %>
                                <% postSubmitImageSrc = "/assets/heart.png"; %>
                            <% } %>
                            <form method="POST" class="postLikeButton" action="<%=rootPath%><%=postAction%>">
                                <input type="hidden" name="postID" value="<%=p.post_id%>"/>
                                <!-- Swap heart image when hovering (like to unlike, vice versa) -->
                                <input class="postLikeImg" type="image" src="<%=postSubmitImageSrc%>" alt="<%=postValue%>"
                                    <% if (p.is_liked) { %>
                                        onmouseover="likeToUnlike(this)" 
                                        onmouseleave="unlikeToLike(this)"
                                    <% } else { %>
                                        onmouseover="unlikeToLike(this)" 
                                        onmouseleave="likeToUnlike(this)"
                                    <% } %>
                                />
                            </form>
                            <div class="postLikesDiv"><%=p.like_count%></div>
                            <div class="postCommentsImgDiv"><img src="/assets/comment.png" alt="Comments"></div>
                            <div class="postCommentsCountDiv"><%=p.comment_count%></div>
                            <div class="postDateDiv"><%=p.date_posted.toLocaleString()%></div>
                        </div>
                    </a>
                </div>
            <% } %>
        <% } %>
    <footer>
        <p>Uicons by <a href="https://www.flaticon.com/uicons" title="Uicons">Flaticon</a></p>
        <p>Fast icons created by <a href="https://www.flaticon.com/free-icons/fast" title="Fast icons">srip - Flaticon</a></p>
    </footer>
    </body>
</html>