<!doctype html>
<html>
    <head>
        <!-- Conditional for checking post has been found -->
        <% let title; %>
        <% if (error) { %>
            <% title = 'Post Not Found';%>
        <% } else { %>
            <% title = `"${post.body}" by ${post.username}`; %>
        <% } %>
        <% title += ` - ${appData.appName}`; %>
        <title><%=title%></title>
        <link rel="icon" type="image/x-icon" href="/assets/fitterlogo.png">
        <link rel="stylesheet" type="text/css" href="/main.css"/>
        <link rel="stylesheet" type="text/css" href="/post.css"/>
        <script src="/script.js"></script>
    </head>
    <body>
        <div class="contentBackground"></div>
        <!-- Header w/ search bar -->
        <div class="headerContainer">
            <div class="header">
                <a href="/"><h1><%=appData.appName%></h1></a>
                <form class="searchbar" method="GET" action="/search/posts">
                    <input id="searchBox" type="text" name="searchtext" placeholder="Search for posts...">
                    <input type="submit" value="Search">
                </form>
            </div>
            <div class="headerDropdown">
                <button class="headerDropdownButton"><%=user.username%></button>
                <div class="headerDropdownMenu">
                    <a href="/profile/<%=user.username%>">Your Profile</a>
                    <% let url = `https://www.strava.com/oauth/authorize?client_id=${clientId}&response_type=code&redirect_uri=http://localhost:8000/exchange_token&approval_prompt=force&scope=read_all,activity:read_all`%>
                    <a href=<%=url%>>Connect to Strava</a>
                    <a href="/logout">Log Out</a>
                </div>
            </div>
        </div>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/profile/<%=user.username%>">Profile</a>
            <a href="/profile/<%=user.username%>/likedposts">Likes</a>
            <a href="/activities">Activities</a>
            <a href="<%=url%>">Connect</a>
        </div>
        <!-- Another check that post exists to prevent errors -->
        <% if (error) { %>
            <p>This post has been deleted or never existed!</p>
            <br>
            <a href="/">Back Home</a>
        <% } else { %>
        <!-- Display post info on page -->
        <div class="mainPostContainer">
            <div class="postDiv">
                <h2><a href="../profile/<%=post.username%>"><%=post.username%></a></h2>
                <% if (user.id == post.user_id) { %>
                    <form method="POST" class="deletePostForm" action="/postdeleted">
                        <input type="hidden" name="postID" value="<%=post.post_id%>"/>
                        <input class="deletePostButton" type="submit" value="Delete"/>
                    </form>
                <% } %>
                <div class="postBodyDiv"><%=post.body%></div>

                <!-- Embedded activity data if post has linked activity -->
                <% if (post.activity_id) { %>
                    <div class="postActivityDiv">
                        <h3><%=post.name%> - <%=post.start_date.toLocaleString()%></h3>
                        <p>Total Time: <%=post.elapsed_time%></p>
                        <% if (post.distance)  { %>
                            <p>Distance: <%=(post.distance/1000).toPrecision(3)%> km</p>
                        <% } %> 
                        <% if (post.calories)  { %> 
                            <p>Calories: <%=post.calories%> kJ</p>
                        <% } %> 
                        <% if (post.average_speed)  { %> 
                            <p>Avg Speed: <%=post.average_speed.toPrecision(3)%> m/s</p>
                            
                        <% } %> 
                        <% if (post.max_speed) { %> 
                            <p>Max Speed: <%=post.max_speed.toPrecision(3)%> m/s</p>
                            <p>Avg Pace: <%=post.average_pace%></p>
                            <p>Max Pace: <%=post.max_pace%></p>
                        <% } %> 
                        <% if (post.average_watts) { %> 
                            <p>Avg Watts: <%=post.average_watts.toPrecision(3)%> W</p> 
                        <% } %> 
                        <% if (post.max_watts) { %> 
                            <p>Max Watts: <%=post.max_watts.toPrecision(3)%> W</p>
                        <% } %> 
                    </div>
                <% } %>

                <% let postAction; %>
                <% let postValue; %>
                <% let postSubmitImageSrc; %>
                <!-- Conditional for whether to show like or unlike button -->
                <% if (post.is_liked) { %>
                    <% postAction = "/postunliked"; %>
                    <% postValue = "Unlike"; %>
                    <% postSubmitImageSrc = "/assets/heart-full.png"; %>
                <% } else { %>
                    <% postAction = "/postliked"; %>
                    <% postValue = "Like"; %>
                    <% postSubmitImageSrc = "/assets/heart.png"; %>
                <% } %>
                <form method="POST" class="postLikeButton" action=<%=postAction%>>
                    <input type="hidden" name="postID" value="<%=post.post_id%>"/>
                    <!-- Swap heart image when hovering (like to unlike, vice versa) -->
                    <input class="postLikeImg" type="image" src="<%=postSubmitImageSrc%>" alt="<%=postValue%>"
                        <% if (post.is_liked) { %>
                            onmouseover="likeToUnlike(this)" 
                            onmouseleave="unlikeToLike(this)"
                        <% } else { %>
                            onmouseover="unlikeToLike(this)" 
                            onmouseleave="likeToUnlike(this)"
                        <% } %>
                    />
                </form>
                <div class="postLikesDiv"><%=post.like_count%></div>
                <div class="postCommentsImgDiv"><img src="/assets/comment.png" alt="Comments"></div>
                <div class="postCommentsCountDiv"><%=post.comment_count%></div>
                <div class="postDateDiv"><%=post.date_posted.toLocaleString()%></div>
            </div>
        </div>
        <div class="pageDivider"></div>
        <div class="postFormDiv">
            <form method="POST" action="/commented">
                <textarea class="postTextBox" type="text" name="content" onkeyup="displayTypingCharCount()" placeholder="Leave a comment!" maxlength="255"></textarea>
                <input type="hidden" name="user_id" value=<%=user.id%>>
                <input type="hidden" name="post_id" value="<%=post.post_id%>">
                <input type="submit" value="Post">
                <p class="postCharCount"></p>
            </form>
        </div>
        <div class="pageDivider"></div>
        <h2 class="commentsHeader">Comments (<%=comments.length%>)</h2>
        <% if (comments) { %>
            <% for (c of comments) { %>
                <div class="postContainer">
                    <div class="postDiv">
                        <h2><a href="../profile/<%=c.username%>"><%=c.username%></a></h2>
                        <% if (user.id == c.user_id) { %>
                            <form method="POST" class="deletePostForm" action="/commentdeleted">
                                <input type="hidden" name="commentID" value="<%=c.comment_id%>"/>
                                <input type="hidden" name="userID" value="<%=user.id%>"/>
                                <input class="deletePostButton" type="submit" value="Delete"/>
                            </form>
                        <% } %>
                        <div class="postBodyDiv"><%=c.body%></div>
                        <% let commentAction; %>
                        <% let commentValue; %>
                        <% let commentSubmitImageSrc; %>
                        <!-- Conditional for whether to show like or unlike button -->
                        <% if (c.is_liked) { %>
                            <% commentAction = "/commentunliked"; %>
                            <% commentValue = "Unlike"; %>
                            <% commentSubmitImageSrc = "/assets/heart-full.png"; %>
                        <% } else { %>
                            <% commentAction = "/commentliked"; %>
                            <% commentValue = "Like"; %>
                            <% commentSubmitImageSrc = "/assets/heart.png"; %>
                        <% } %>
                        <form method="POST" class="postLikeButton" action=<%=commentAction%>>
                            <input type="hidden" name="commentID" value="<%=c.comment_id%>"/>
                            <input type="hidden" name="userID" value="<%=user.id%>"/>
                            <!-- Swap heart image when hovering (like to unlike, vice versa) -->
                            <input class="postLikeImg" type="image" src="<%=commentSubmitImageSrc%>" alt="<%=commentValue%>"
                                <% if (c.is_liked) { %>
                                    onmouseover="likeToUnlike(this)" 
                                    onmouseleave="unlikeToLike(this)"
                                <% } else { %>
                                    onmouseover="unlikeToLike(this)" 
                                    onmouseleave="likeToUnlike(this)"
                                <% } %>
                            />
                        </form>
                        <div class="postLikesDiv"><%=c.like_count%></div>
                        <div class="postDateDiv"><%=c.date_commented.toLocaleString()%></div>
                    </div>
                </div>
            <% } %>
        <% } %>
        <% } %>
        <footer>
            <p>Uicons by <a href="https://www.flaticon.com/uicons" title="Uicons">Flaticon</a></p>
            <p>Fast icons created by <a href="https://www.flaticon.com/free-icons/fast" title="Fast icons">srip - Flaticon</a></p>
        </footer>
    </body>
</html>