<!doctype html>
<html>
    <head>
        <title><%=appData.appName%> - Search for <%=searchtext%></title>
        <link rel="stylesheet" type="text/css" href="/main.css"/>
        <script src="/script.js"></script> 
    </head>
    <body>
        <h1><a href="/"><%=appData.appName%></a></h1>
        <!-- Search box -->
        <form method="GET" action="/search">
            <input id="searchBox" type="text" name="searchtext" placeholder="Search for something...">
            <input type="submit" value="Search">
        </form>
        <h2>Results for: <%=searchtext%></h2>
        <ul>
            <!-- For loop iterates through posts array -->
            <% for (p of posts) { %>
            <!-- Display post info on page -->
            <li>
                <h2><a href=/profile/<%=p.username%>><%=p.username%></a></h2>
                <p><%=p.body%></p>
                <p>Likes: <%=p.like_count%></p>
                <p><%=p.date_posted.toLocaleString()%></p>
                <% let postAction; %>
                <% let postValue; %>
                <!-- Conditional for whether to show like or unlike button -->
                <% if (p.is_liked) { %>
                    <% postAction = "postunliked"; %>
                    <% postValue = "Unlike"; %>
                <% } else { %>
                    <% postAction = "postliked"; %>
                    <% postValue = "Like"; %>
                <% } %>
                <form method="POST" action=<%=postAction%>>
                    <input type="hidden" name="postID" value="<%=p.post_id%>"/>
                    <input type="submit" value="<%=postValue%>"/>
                </form>
            </li>
            <% } %>
        </ul>
    </body>
</html>