<!doctype html>
<html>
    <head>
        <!-- Conditional for checking user profile has been found -->
        <% let title = ""; %>
        <% if (errMsg == null) {title = profile.username;} else {title = 'User Not Found';}%>
        <% title += ` - ${appData.appName}`; %>
        <title><%=title%></title>
        <link rel="stylesheet" type="text/css" href="../main.css"/>
        <script src="../script.js"></script>
    </head>
    <body>
        <h1><a href="/"><%=appData.appName%></a></h1>
        <!-- Another check that user profile exists to prevent errors -->
        <% if (errMsg != null) { %>
            <p><%=errMsg%></p>
        <% } else { %>
        <h2><a href=/profile/<%=profile.username%>><%=profile.username%></a></h2>
        <p>Followers: <%=profile.follower_count%></p>
        <p>Following: <%=profile.following_count%></p>
        <!-- Conditionals for when user's country or city are null in database -->
        <p>Country:
            <% if (profile.country != null) { %>
                <%=profile.country%>
            <% } else { %>
                Not provided
            <% } %>
        </p>
        <p>City:
            <% if (profile.city != null) { %>
                <%=profile.city%>
            <% } else { %>
                Not provided
            <% } %>
        </p>
        <p>Date joined: <%=profile.date_joined.toLocaleString()%></p>
        <ul>
            <!-- For loop iterates through posts array -->
            <% for (p of posts) { %>
                <!-- Display post info on page -->
                <li>
                    <h2><a href=/profile/<%=profile.username%>><%=profile.username%></a></h2>
                    <p><%=p.body%></p>
                    <p>Likes: <%=p.like_count%></p>
                    <p><%=p.date_posted.toLocaleString()%></p>
                    <% let postAction; %>
                    <% let postValue; %>
                    <!-- Conditional for whether to show like or unlike button -->
                    <% if (p.is_liked) { %>
                        <% postAction = "postunliked"; %>
                        <% postValue = "Unlike"; %>
                    <% } else { %>
                        <% postAction = "postliked"; %>
                        <% postValue = "Like"; %>
                    <% } %>
                    <form method="POST" action=<%=postAction%>>
                        <input type="hidden" name="postID" value="<%=p.post_id%>"/>
                        <input type="submit" value="<%=postValue%>"/>
                    </form>
                </li>
            <% } %>
        </ul>
        <% } %>
    </body>
</html>