<!doctype html>
<html>
    <head>
        <!-- Conditional for checking user profile has been found -->
        <% let title; %>
        <% if (error) { %>
            <% title = 'User Not Found'; %>
        <% } else { %>
            <% title = `${profile.username}'s Profile`; %>
        <% } %>
        <% title += ` - ${appData.appName}`; %>
        <title><%=title%></title>
        <link rel="icon" type="image/x-icon" href="/assets/fitterlogo.png">
        <link rel="stylesheet" type="text/css" href="/main.css"/>
        <link rel="stylesheet" type="text/css" href="/profile.css"/>
        <script src="../script.js"></script>
    </head>
    <body>
        <div class="contentBackground"></div>
        <!-- Header w/ search bar -->
        <div class="headerContainer">
            <div class="header">
                <a href="/"><h1><%=appData.appName%></h1></a>
                <form class="searchbar" method="GET" action="/search/posts">
                    <input id="searchBox" type="text" name="searchtext" placeholder="Search for posts, users, or activities...">
                    <input type="submit" value="Search">
                </form>
            </div>
            <div class="headerDropdown">
                <button class="headerDropdownButton"><%=user.username%></button>
                <div class="headerDropdownMenu">
                    <a href="/profile/<%=user.username%>">Your Profile</a>
                    <a href="/settings">Account Settings</a>
                    <a href="/logout">Log Out</a>
                </div>
            </div>
        </div>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/profile/<%=user.username%>">Profile</a>
            <a href="/likedposts">Likes</a>
            <a href="/activities">Activities</a>
            <a href="/help">Help</a>
        </div>
        <!-- Another check that user profile exists to prevent errors -->
        <div class="userInfoDiv">
            <% if (error) { %>
                <h2>User does not exist!</h2>
                <br>
                <a href="/">Return Home</a>
            <% } else { %>
            <h1><a href=/profile/<%=profile.username%>><%=profile.username%></a></h1>
            <!-- Check if profile is session user's profile -->
            <% if (profile.user_id != user.id) { %>
                <% let followAction; %>
                <% let followValue; %>
                <!-- Conditional for whether to show follow or unfollow -->
                <% if (profile.is_followed) { %>
                    <% postAction = "/unfollowed"; %>
                    <% postValue = "Unfollow"; %>
                <% } else { %>
                    <% postAction = "/followed"; %>
                    <% postValue = "Follow"; %>
                <% } %>
                <form method="POST" class="followButton" action="<%=postAction%>">
                    <input type="hidden" name="followingID" value="<%=profile.user_id%>"/>
                    <input type="submit" value="<%=postValue%>"/>
                </form>
                <% } %>
            <div class="followInfoDiv">
                <h2><a href="<%=profile.username%>/followers"><%=profile.follower_count%> Followers</a></h2>
                <h2><a class="followingCount" href="<%=profile.username%>/following"><%=profile.following_count%> Following</a></h2>
                <h2 class="postsCount"><%=posts.length %> Posts</h2>
            </div>
            <% if (profile.user_id == user.id) { %>
                <% let url = `https://www.strava.com/oauth/authorize?client_id=${clientId}&response_type=code&redirect_uri=http://localhost:8000/exchange_token&approval_prompt=force&scope=read_all,activity:read_all`%>
                <a href=<%=url%>>Connect your Strava account</a>
            <% } %>
            <!-- Conditionals for when user's country or city are null in database -->
            <% let locationMsg; %>
            <% if (profile.country != null) { %>
                <% locationMsg = profile.country; %>
                <% if (profile.city != null) { %>
                    <% locationMsg += `, ${profile.city}`; %>
                <% } %>
            <% } else { %>
                <% locationMsg = "Not provided" %>
            <% } %>
            <p>Location: <%=locationMsg%></p>
            <p>Date joined: <%=profile.date_joined.toLocaleString()%></p>
            <% } %>
        </div>
        <div class="pageDivider"></div>
        <!-- For loop iterates through posts array -->
        <% for (p of posts) { %>
            <div class="postContainer">
                <a href="/post/<%=p.post_id%>">
                    <div class="postDiv">
                        <h2><%=profile.username%></h2>
                        <div class="postBodyDiv"><%=p.body%></div>
                        <% let postAction; %>
                        <% let postValue; %>
                        <% let postSubmitImageSrc; %>
                        <!-- Conditional for whether to show like or unlike button -->
                        <% if (p.is_liked) { %>
                            <% postAction = "/postunliked"; %>
                            <% postValue = "Unlike"; %>
                            <% postSubmitImageSrc = "/assets/heart-full.png"; %>
                        <% } else { %>
                            <% postAction = "/postliked"; %>
                            <% postValue = "Like"; %>
                            <% postSubmitImageSrc = "/assets/heart.png"; %>
                        <% } %>
                        <form method="POST" class="postLikeButton" action=<%=postAction%>>
                            <input type="hidden" name="postID" value="<%=p.post_id%>"/>
                            <!-- Swap heart image when hovering (like to unlike, vice versa) -->
                            <input class="postLikeImg" type="image" src="<%=postSubmitImageSrc%>" alt="<%=postValue%>"
                                <% if (p.is_liked) { %>
                                    onmouseover="likeToUnlike(this)" 
                                    onmouseleave="unlikeToLike(this)"
                                <% } else { %>
                                    onmouseover="unlikeToLike(this)" 
                                    onmouseleave="likeToUnlike(this)"
                                <% } %>
                            />
                        </form>
                        <div class="postLikesDiv"><%=p.like_count%></div>
                        <div class="postDateDiv"><%=p.date_posted.toLocaleString()%></div>
                    </div>
                </a>
            </div>
    <% } %>
    <footer>
        <p>Uicons by <a href="https://www.flaticon.com/uicons" title="Uicons">Flaticon</a></p>
        <p>Fast icons created by <a href="https://www.flaticon.com/free-icons/fast" title="Fast icons">srip - Flaticon</a></p>
    </footer>
    </body>
</html>