<!doctype html>
<html>
    <head>
        <!-- Conditional for checking user profile has been found -->
        <% let title = ""; %>
        <% if (errMsg == null) {title = profile.username;} else {title = 'User Not Found';}%>
        <% title += ` - ${appData.appName}`; %>
        <title><%=title%></title>
        <link rel="stylesheet" type="text/css" href="../main.css"/>
        <script src="../script.js"></script>
    </head>
    <body>
        <h1><a href="/"><%=appData.appName%></a></h1>
        <!-- Another check that user profile exists to prevent errors -->
        <% if (errMsg == null) { %>
        <h2><%=profile.username%></h2>
        <p>Followers: <%=profile.follower_count%></p>
        <p>Following: <%=profile.following_count%></p>
        <!-- Conditionals for when user's country or city are null in database -->
        <p>Country:
            <% if (profile.country != null) { %>
                <%=profile.country%>
            <% } else { %>
                Not provided
            <% } %>
        </p>
        <p>City:
            <% if (profile.city != null) { %>
                <%=profile.city%>
            <% } else { %>
                Not provided
            <% } %>
        </p>
        <p>Date joined: <%=profile.date_joined.toLocaleString()%></p>
        <ul>
            <!-- For loop iterates through posts array -->
            <% for (let i = 0; i < posts.length; i++) { %>
            <!-- Display post info on page -->
            <% p = posts[i]; %>
            <li>
                <h2><a href=/profile/<%=profile.username%>><%=profile.username%></a></h2>
                <p><%=p.body%></p>
                <p>Likes: <%=p.like_count%></p>
                <p><%=p.date_posted.toLocaleString()%></p>
                <% if (p.is_liked) { %>
                    <form method="POST" action="postunliked">
                        <input type="hidden" name="postID" value="<%=p.post_id%>"/>
                        <input type="submit" value="Unlike"/>
                    </form>
                <% } else { %>
                    <form method="POST" action="postliked">
                        <input type="hidden" name="postID" value="<%=p.post_id%>"/>
                        <input type="submit" value="Like"/>
                    </form>
                <% } %>
            </li>
            <% } %>
        </ul>
        <% } else { %>
            <p><%=errMsg%></p>
        <% } %>
    </body>
</html>